<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>511109038344-e721uo4eh80ie6s6t48qlpnpoc7k2ser.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.511109038344-e721uo4eh80ie6s6t48qlpnpoc7k2ser</string>
	<key>API_KEY</key>
	<string>AIzaSyBVE66kTyBuKVd5bRSPzbZXVG9YfS3grtY</string>
	<key>GCM_SENDER_ID</key>
	<string>511109038344</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.kinko.app</string>
	<key>PROJECT_ID</key>
	<string>calcium-doodad-244801</string>
	<key>STORAGE_BUCKET</key>
	<string>calcium-doodad-244801.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:511109038344:ios:6d78554f45622115f2acbd</string>
	<key>DATABASE_URL</key>
	<string>https://calcium-doodad-244801.firebaseio.com</string>
</dict>
</plist>